* {margin:0;padding:0;box-sizing:border-box;}
body{ 
	color: rgb(100,100,100);
	font-family: "Khula", helvetica, sans-serif;
	font-size: 16px;
	margin-left: 2em;
}
header {
	padding-bottom: 2em;
	background-color: rgb(100,100,100);
}
header img {
	float:left;
	height: 5em;
}
nav {
	float:right;
}
section#splash div {
	float: left;
	text-align: left;
	width: 50%;
}
section#benefits div {
	float:left;
	padding:1em;
	width:25%;
}
section#benefits div img {
	width:100%;
}
footer{
	background-color: rgb(100,100,100);
	color: rgb(255,255,255);
	font-family: "Khula", helvetica, sans-serif;
	width: 100%;
	/*position: fixed;left: 0;bottom: 0;*/
}
h1 {
	color: rgb(100,100,100);
	font-family: "Khula", helvetica, sans-serif;
	font-weight: bold;
}
h2 {
	font-family: "Source Serif Pro", serif;
	padding:1em;
	text-decoration: center;
}

h3 {
	font-family: "Source Serif Pro", serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
ul{
	padding-bottom: 3em;
	text-align: left;
	margin left: 3em;
}
a{
	text-decoration: none;
}
a:hover { text-decoration:underline; }
nav a {
	color:rgb(100,100,100);
	padding:1em;
}
#slogan{
	font-family: "Source Serif Pro", Serif;
	font-size: 2em;
	font-weight: bold;
	color: rgb(0,0,0);
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
	text-align: center;
}
