body{ 
	font-family: "Khula", helvetica, sans-serif;
	font-size: 16px;
	color: rgb(100,100,100);
}
header {
	background-color: rgb(255,255,255);
	width: 100%;
}
header img {
	float: left;
	height: 5em;
	padding-bottom: 1em;
}
nav {
	color: rgb(255,255,255);
	background-color: rgb(255,0,0);
	text-align: right;
}
section#splash{
	margin: 0 50% 0 0;
	padding: 1em;
	float: left;
	width: 50%;
}
section#promo{
	margin: 1em;
	padding: 1em;
	text-align: center;
	width: 100%;
}
section#benefits div {
	margin: 1em;
	float: left;
	padding: 1em;
	width: 25%;
}
section#benefits div img {
	width:100%;
}
section#benefits h1 {
	text-align: center;
}
footer{
	color: rgb(255,255,255);
	background-color: rgba(100,100,100,.5);
	width: 100%;
	padding: 3em 0;
	text-align: right;
}
h1 {
	font-weight: bold;
	font-size: 2em;
	color: rgb(0,0,0);
}
h2 {
	font-size:1.75em;
}

h3 {
	font-size: 1.5em;
	text-align: center;
}
ul{
	padding: 1em;
	text-align: left;
}
a{
	text-decoration: none;
}
a:hover { text-decoration:underline; }
nav a {
	color:rgb(255,255,255);
	padding:1em;
}
#slogan{
	font-size: 2.5em;
	font-weight: bold;
	color: rgb(0,0,0);
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
	text-align: center;
}
span{
	color: rgb(255,0,0);
	font-weight: bold;
}
section#faq div {
	margin: 3em;
	padding-bottom: 1em;
}
section#faq h1 {
	text-align: center;
}
section#howitworks div {
	margin: 1em;
	float: left;
	padding: 1em;
	width: 33%;
}
section#howitworks div img {
	width:100%;
}
section#howitworks h1 {
	text-align: center;
}